*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#theField{
    background-color: rgba(43, 43, 43, 0.788);
    ;
    height: 60VH;
    width: 60vw;

}

#ball{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: rgb(245, 245, 149);
    position: fixed;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
}

#paddleOne{
    height: 100px;
    width: 10px;
    background-color: rgb(245, 245, 149);
    position: fixed;
    top: calc(50% - 25px);
    

}

#paddleTwo{
    height: 100px;
    width: 10px;
    background-color: rgb(245, 245, 149);
    position: fixed;
    top: calc(50% - 25px);
    left: calc(100% - 20vw - 10px);
    
    
}

#the-net{
    background-color: yellow;
}

#the-score{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    position: fixed;
    left: calc(25vw + 8%);
    top: calc(25vh - 20px );
}
#the-score2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    position: fixed;
    top: calc(25vh - 20px);
    left: calc(50vw + 17%);
}

#info{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    position: fixed;
    top: calc(25vh - 20px);
    left: calc(50vw - 11% );
}