*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color:rgb(216, 163, 163) ;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#theField{
    background-color: rgba(252, 252, 252, 0.788);
    ;
    height: 60VH;
    width: 60vw;

}

#ball{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
}

#paddleOne{
    height: 100px;
    width: 10px;
    background-color: rgb(5, 5, 5);
    position: fixed;
    top: calc(50% - 25px);
    /* animation: bebe 1s linear 0s 1 normal forwards; //TODO: Will try first with js then come back to CSS solution if needed*/
    

}



#paddleTwo{
    height: 100px;
    width: 10px;
    background-color: rgb(3, 3, 3);
    position: fixed;
    top: calc(50% - 25px);
    left: calc(100% - 20vw - 10px);
    
    
}

#the-net{
    background-color: rgba(2, 2, 2, 0.322);
    height: calc(60% );
    width: 0.1%;
    position: fixed;
    left: 50vw  ;
}

#the-score{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    position: fixed;
    left: calc(25vw + 8%);
    top: calc(25vh - 20px );
}
#the-score2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    position: fixed;
    top: calc(25vh - 20px);
    left: calc(50vw + 17%);
}

#info{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    position: fixed;
    top: calc(25vh - 20px);
    left: calc(50vw - 11% );
}