*{
    padding:0;
    margin:0;
    font-family:sans-serif;
}

body{
    background-image: url(./images/img.png);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    


}
.container{
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    background-color:white;

}

.address{
    margin: 40px auto;
    font-size: 30px;
}

.board{
    display:grid;
    grid-template-columns: 100px  100px  100px ;
    grid-template-rows: 100px  100px  100px;
    cursor: pointer;
    justify-content: center;
    
    
    
    
}

.button{
    background-color: #a9fde7;
    padding: 20px 30px;
    border-radius: 0 0 10px 10px;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    width: 100%;
}

.button:hover{
    background-color:#c7feee;
}
.button:focus{
    outline: none;
}


.squares{
    border: 1px solid black;

}
 .squares:hover{
     background-color:#dcfff6;
     
     
 }

.squares:nth-of-type(1),
.squares:nth-of-type(2),
.squares:nth-of-type(3){
    border-top:none;
    
}

.squares:nth-of-type(3),
.squares:nth-of-type(6),
.squares:nth-of-type(9){
    border-right:none;
}

.squares:nth-of-type(9),
.squares:nth-of-type(8),
.squares:nth-of-type(7){
    border-bottom: none;
}

.squares:nth-of-type(7),
.squares:nth-of-type(4),
.squares:nth-of-type(1){
    border-left: none;
};
;












